.header1{
    height: 50px;
    background-color: rgb(31, 42, 76);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 150px;
}
.header1 .left, .header1 .right{
    display: flex;
    flex-direction: row;
}
.header1 .left div{
    width: 50px;
    height: 5px;
    margin: 5px;
    background-color: rgb(57, 210, 149);
    border-radius: 5px;
}
.header1 .right div{
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: rgb(53, 209, 147);
    border-radius: 5px;
}
.header2{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header2 .right{
    display: flex;
    flex-direction: row;
}
.header2 .left div{
    width: 120px;
    height: 50px;
    background-color: rgb(53, 209, 147);
    border-radius: 5px;
}
.header2 .right div{
    width: 50px;
    height: 5px;
    margin: 5px;
    background-color: rgb(57, 210, 149);
    border-radius: 5px;
}
.body1{
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: rgb(31, 42, 76);
    color: white;
    padding-block: 80px;
}
.body1 div{
    margin: auto;
    text-align: center;
    width: 300px;
    margin-bottom: 65px;
}
.body1 button{
    border-radius: 30px;
}
.division-div{
    position: relative;
    display: flex;
    justify-content: center;
    row-gap: 20px;
    top: 338px;

}
.division-div div{
    margin-inline: 20px;
    width: 200px;
    height: 120px;
    border-radius: 5px;
    background-color: rgb(57, 210, 149);
}
.container{
    display: grid;
    position: relative;
    top: 500px;
    grid-template-columns: auto auto auto;
    margin-inline: auto;
    text-align: center;
    row-gap: 40px;
    column-gap: 20px;
}
@media screen and (max-width:476px) {
    .container{
        grid-template-columns: auto;
    }
}
@media screen and (min-width:476px) and (max-width:769px) {
    .container{
        grid-template-columns: auto auto;
    }
}
@media screen and (min-width:769px) and (max-width:1200px) {
    .container{
        grid-template-columns: auto auto auto;
    }
}
.container .card{
    width: auto;
}
.rectangles{
    display: grid;
    position: relative;
    top: 600px;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
@media screen and (max-width:476px) {
    .rectangles{
        grid-template-columns: auto;
        row-gap: 10px;
    }
}
@media screen and (min-width:476px) and (max-width:769px) {
    .rectangles{
        grid-template-columns: auto auto;
        row-gap: 10px;
    }
}
@media screen and (min-width:769px) and (max-width:1200px) {
    .rectangles{
        grid-template-columns: auto auto auto auto;
        row-gap: 10px;
    }
}
.rectangles div{
    background-color: rgb(57, 210, 149);
    height: 250px;
    width: 250px;
    display: flex;
    align-self: center;
    justify-self: center;
}
.buttom{
   display: grid;
   grid-template-columns: 250px 300px 250px;
   top: 700px;
   justify-content: center;
   align-items: center;
}
@media screen and (max-width:476px) {
    .buttom{
        grid-template-columns: auto;
        row-gap: 10px;
    }
}
@media screen and (min-width:476px) and (max-width:769px) {
    .buttom{
        grid-template-columns: auto auto;
        row-gap: 10px;
    }
}
@media screen and (min-width:769px) and (max-width:1200px) {
    .buttom{
        grid-template-columns: auto auto auto;
        row-gap: 10px;
    }
}
.buttom .card{
    column-gap: 40px;
    border: 0;
}
.buttom .card-center img{
    width: 225px;
    height: 225px;
}

.buttom img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.footer{
    position: relative;
    top: 800px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(31, 42, 76);
    padding-block: 50px;
    
}
.footer .right{
    display: grid;
    grid-template-columns: auto auto auto;
    float: right;
    background-color: rgb(31, 42, 76);
    border: 0;
}
@media screen and (max-width:476px) {
    .footer .right{
        grid-template-columns: auto;
        row-gap: 10px;
    }
}
@media screen and (min-width:476px) and (max-width:769px) {
    .footer .right{
        grid-template-columns: auto auto;
        row-gap: 10px;
    }
}
@media screen and (min-width:769px) and (max-width:1200px) {
    .footer .right{
        grid-template-columns: auto auto auto;
        row-gap: 10px;
    }
}
.footer .right li{
    background-color: rgb(31, 42, 76);
    border: 0;
    color: white;
}
.footer .card{
    background-color: rgb(31, 42, 76);
    border: 0;
    padding-inline: 20px;
}
.footer .left{
    display: grid;
    grid-template-columns: auto auto auto auto;
    float: left;
}
.footer .left div{
    width: 50px;
    height: 5px;
    margin: 5px;
    background-color: rgb(57, 210, 149);
    border-radius: 5px;
}
.footer .left .above{
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: rgb(57, 210, 149);
    border-radius: 5px;
}